@use "sass:color";
@mixin separator($bt, $br, $bd, $bl) {
    border: solid 2px;
    border-color: $bt $br $bd $bl;
    height: 28px;
}

@font-face {
    font-family: "IBM VGA 9x16";
    src: url("fonts/ibm-vga-9x16.woff2") format("woff2");
    font-display: swap;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
$bar-background-color: rgb(192, 192, 192);
$border-color: white black black white;
$blue-windows-background: rgb(2,13,122);
$windows-gradient: linear-gradient(to right, $blue-windows-background, 
                color.scale($blue-windows-background, $lightness: 30%)
                );
$windows-line-gradient: linear-gradient(to left, $blue-windows-background, 
                color.scale($blue-windows-background, $lightness: 30%)
                );
$lost-focus-color: rgb(150, 152, 151);
$windows-lost-focus-gradient: linear-gradient(to right, $lost-focus-color,
                color.scale($lost-focus-color, $lightness: 30%)                
);
html, body {
    background-color: rgb(21, 128, 127);
    margin: 0px;
    padding: 0px;
    font-family: 'IBM VGA 9x16', monospace;
    color: white;
    overflow: hidden;
    user-select: none;
    
}
.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .droppable-container {
        flex: 1;
        display: grid;
        .desktop-container {
            flex: 1;
            overflow: hidden;
            .react-grid-item.react-grid-placeholder {
            background: transparent !important;
            }
            
        .project-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            text-align: center;
            .project-name {
                font-weight: thin;
                letter-spacing: 0.2px;
            }
            svg {
                overflow: visible;
                
            }
        }
    }
    }
    
    .taskbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bar-background-color;
        border-top: 2px solid white;
        height: 4vh;
        width: 100%;
        
        .separator {
        border: solid 0.5px;
        height: 32px;
        margin-inline: 0px;
        }
        .left-start-container {
            display: flex;
            align-items: center;
            .start-button-container {
            display: flex;
            align-items: center;
            border: solid 2px;
            border-color: $border-color;
            box-shadow: inset -5px -5px 0px -3px gray;
            height: 28px;
            margin-inline: 4px;
            
            .windows-logo {
                margin-inline: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 2px solid black;
                width: 16px;
                height: 16px;
                background:
                linear-gradient(var(--win-bl, #ffb900) 0 0) bottom left/50% 50% no-repeat,
                linear-gradient(var(--win-tr, #7fba00) 0 0) top right/50% 50% no-repeat,
                linear-gradient(var(--win-br, #00a4ef) 0 0) bottom right/50% 50% no-repeat,
                linear-gradient(var(--win-tl, #f25022) 0 0) top left/50% 50% no-repeat;

                border: 2px solid black;
                transform: skewY(-15deg);       
                transform-origin: center;
                .window-separator-container {
                    display: flex;
                    inset: 0;
                    border: solid 1px black;
                    transform-origin: center;
                    .window-separator {
                        width: 4px;
                    }
                }
                :nth-child(even) {
                    transform: rotate(90deg);
                    transform-origin: center;
                }       
               
               
            }
            .start {
                color: black;
                border: none;
                font-size: larger;
                font-weight: bold;
            }
        }
        .started-app-container {
            display: flex;
            align-items: center;
            border: solid 2px;
            border-color: $border-color;
            height: 28px;
            margin-inline: 2px;
            max-width: 256px;
            min-width: 196px;
            div {
                color: black;
                text-align:start;
                white-space: nowrap;
            }
        }
    }
    
    .separator:nth-child(even) {
        border-color: gray;
    }
        .right-start-container {
            display: flex;
            flex-direction: row-reverse;
            .start-time-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 4px;
                margin-inline: 4px;
                color: black;
                @include separator(rgb(87, 87, 87), white, white, rgb(87, 87, 87) );
            }
        }
    }
        .windows-start-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 32px;                
            background-color: $bar-background-color;
            border: solid;
            border-width: 4px 2px 1px 4px;
            border-color: $border-color;
            width: 256px;
            max-height: 512px;
            animation: slideUp 0.3s ease-out forwards;
            .windows-search-line {
                display: flex;
                align-items: center;
                background: $windows-line-gradient;
                transform: rotate(270deg);
                position: absolute;
                transform-origin: top left;
                top:100%;
                width: 512px;
                padding-block: 4px;
                font-size: xx-large;
                
                letter-spacing: -2px;
                :nth-child(odd) {
                    font-weight: bold;
                    text-indent: 0.4em;
                }
            }
            .search-start-container {
                max-height: 512px;
                overflow-y: scroll;
                
                .start-items-container {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    padding-left: 16px;
                    
                    .start-item {
                        padding-inline: 8px;
                    }
                    .cropper {
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        svg {
                            fill: currentColor;
                        }
                    }
                      &:hover {
                        background-color: rgb(2,13,122);
                        color: white; 
                        svg {
                            // fill: white;
                            filter: brightness(0) invert(1);
                        }
                        li {
                            color: white;
                        }
                    }
                    .start-item {
                        display: block;
                        list-style: none;
                        margin-block: 16px;
                        color: black;
                    }
                }
            }

    }
    .project-app-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // border: solid black;
        border-width: 4px 2px 2px 4px;
        border-color: $border-color;
        box-shadow: gray inset -5px -7px 32px -8px;
        box-sizing: border-box;
        background-color: $bar-background-color;
        &:focus {
            outline: none;
        }
        .app-navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120%;
            
            &.focused {
            background: $windows-gradient;
            }
            &.blurred {
            background: $windows-lost-focus-gradient;
            }
            
            .left-navbar-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .navbar-project-name {
                    &.focused {
                        color: white;
                    }
                    &.blurred {
                        color: rgb(54, 53, 53);
                    }
                }
            }
            .right-navbar-container {
                display: flex;
                margin-inline: 8px;
                gap: 2px;
                .resize-button {
                    color: transparent;
                    font-weight: bold;
                    font-size:medium;
                    background-color: $bar-background-color;
                    border: 2px solid;
                    border-color: $border-color;
                    color: black;


                }
                .resize-window-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid 2px;
                    border-color: $border-color;
                    width: fit-content;
                    padding: 2px;      
                    background-color: $bar-background-color;            
                    .resize-button {
                        border: solid;
                        border-width: 4px 2px 2px;
                        height: 16px;
                    }
                }
            }
        }
        .window-main-container {
            display: flex;
            height: 100%;
            margin-inline: 2%;
            margin-block: 2%;
            border: 2px solid;
            border-color: $border-color;
            .project-monitor-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                border-color: $border-color;
                margin: 4%;
                .screen-border-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid;
                    border-color: $border-color;
                    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.477);
                    gap: 2%;
                    padding: 6% 6% 4% 6%;
                    height: 32%;
                    
                    svg {
                        border: 2px solid;
                        border-color: black white white black;
                    }
                    img {
                        border: 2px solid;
                        border-color: black white white black;
                    }
                    .monitor-power-button {
                        align-self: flex-end;
                        padding: 2%;
                        width: 8%;
                        height: 36%;
                        border: 1px solid;
                        border-color: gray rgba(255, 255, 255, 0.718) rgba(255, 255, 255, 0.718) gray;
                    }
                }
                .stander-container {
                    position: relative;
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                .screen-holder-container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border: 1px solid;
                    background-color: rgba(128, 128, 128, 0.327);
                    border-color: $border-color;
                    border-top: none;
                    width: 32%;
                    height: 8%;
                    box-shadow: 1px 0px 0px 1px rgba(1, 1, 1, 0.477);
                    .holder-separator {
                        border: solid 1px rgba(0, 0, 0, 0.362);
                        border-top: none;
                        height: 100%;
                    }
                }
                .curved-stand-container {
                    position: absolute;
                    width: 16%;
                    // height: 32px;
                    height: 13%;
                    background: transparent;
                    border-top: 2px solid black;
                    border-radius: 50%;
                    transform: rotate(180deg);
                }
                .lower-stander-container {
                    position: relative;
                    width: 100%;
                    height: 84%;
                    display: flex;
                    justify-content: center;
                    .holders-container {
                        position: absolute;
                        top:6%;
                        display: flex;
                        justify-content: space-between;
                        width: 6%;
                        height: 8%;
                        .lower-holder:nth-child(1) {
                            border: 1px solid white;
                        }
                        .lower-holder:nth-child(2) {
                            border: 1px solid black;
                        }
                    }
                    .monitor-stand-container {
                        position: absolute;
                        bottom: 75%;
                        border: solid 2px;
                        border-color: $border-color;
                        width: 32%;
                        height: 36%;
                        background-color: gray;
                        clip-path: polygon(10% 70%, 90% 70%, 100% 100%, 0% 100%);
    
                        }
                    }
                }
            }
        .window-description-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 4%;
            .project-description-container {
                color: black;
                line-height: 1.55;
                letter-spacing: 0.1px;
                text-align: left;
                
            }
        }
        .project-showcase-instruction {
            display: flex;
            position:absolute;
            align-self: flex-end;
            margin: 1%;
            right: 32px;
            color: black;
            font-weight: bold;
        }
    }
        .window-buttons-container {
            display: flex;
            flex-direction: row-reverse;
            margin-inline: 2%;
            margin-bottom: 1%;
            .project-link-container {
                display: flex;
                justify-content: flex-end;
                text-decoration: none;
                
                -webkit-user-drag: none;
                .window-button-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid;
                    border-color: $border-color;
                    padding: 16%;
                    .window-button {
                        cursor:pointer;
                        background-color: transparent;
                        font-weight: bold;
                        border: none;
                    }

                }

            }
        }
        .resume-container {
            flex:1;
        }
    }
}
