@use "sass:color";
@mixin separator($bt, $br, $bd, $bl) {
    border: solid 2px;
    border-color: $bt $br $bd $bl;
    height: 28px;
}

@font-face {
    font-family: "IBM VGA 9x16";
    src: url("fonts/ibm-vga-9x16.woff2") format("woff2");
    font-display: swap;
}

$bar-background-color: rgb(192, 192, 192);
$border-color: white black black white;
$blue-windows-background: rgb(2,13,122);
$windows-gradient: linear-gradient(to right, $blue-windows-background, 
                color.scale($blue-windows-background, $lightness: 30%)
                );
html, body {
    background-color: rgb(21, 128, 127);
    margin: 0px;
    padding: 0px;
    font-family: 'IBM VGA 9x16', monospace;
    color: white;
    overflow: hidden;
    
}
.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .droppable-container {
        flex: 1;
        .desktop-container {
            height: 100%;
            overflow: hidden;
        .project-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            user-select: none;
            text-align: center;
            background: transparent;
            .project-name {
                font-weight: thin;
                letter-spacing: 0.2px;
            }
            svg {
                overflow: visible;
                
            }
        }
    }
    }
    
    .taskbar-container {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bar-background-color;
        border-top: 2px solid white;
        height: 4vh;
        width: 100%;

        .separator {
        border: solid 0.5px;
        height: 32px;
        margin-inline: 0px;
        }
        .left-start-container {
            display: flex;
            align-items: center;
            .start-button-container {
            display: flex;
            align-items: center;
            border: solid 2px;
            border-color: $border-color;
            box-shadow: inset -5px -5px 0px -3px gray;
            height: 28px;
            padding-inline: 4px;
            margin-inline: 4px;
            user-select: none;
            gap: 4px;
            .cropper {
                display: flex;
                justify-content: center;
              
            }
            .start {
                color: black;
                border: none;
                font-size: larger;
                font-weight: bold;
            }
        }
    }
    
    .separator:nth-child(2) {
        border-color: gray;
    }
        .right-start-container {
            display: flex;
            flex-direction: row-reverse;
            .start-time-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 4px;
                margin-inline: 4px;
                color: black;
                @include separator(rgb(87, 87, 87), white, white, rgb(87, 87, 87) );
            }
        }
    }
        .windows-start-container {
            position: absolute;
            bottom: 32px;                
            background-color: $bar-background-color;
            border: solid 2px;
            border-color: $border-color;
            width: 256px;
            
            .windows-search-line {
                display: flex;
                background: $windows-gradient;
                transform: rotate(270deg);
                transform-origin: top left;
                position: absolute;
                width: 512px;
                height: 32px;
                bottom: -4%;
                padding-left: 16px;
                font-size: x-large;
                :nth-child(odd) {
                    font-weight: bold;
                }
            }
            .search-start-container {
                max-height: 512px;
                overflow-y: scroll;
                .start-items-container {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    // border: solid 2px blue;
                    .start-item {
                        padding-inline: 8px;
                    }
                    .cropper {
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        svg {
                            fill: currentColor;
                        }
                    }
                      &:hover {
                        background-color: rgb(2,13,122);
                        color: white; 
                        svg {
                            fill: white;
                        }
                        li {
                            color: white;
                        }
                    }
                    .start-item {
                        display: block;
                        list-style: none;
                        margin-block: 16px;
                        color: black;
                    }
                }
            }

    }
    .project-app-container {
        border: solid 2px black;
        box-sizing: border-box;
        width: 800px;
        height: 600px;
        background-color: $bar-background-color;
        .app-navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $windows-gradient;
            height: 32px;
            .left-navbar-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .right-navbar-container {
                display: flex;
                    // margin-inline: 2px;
                    // margin-block: 4px;
                    // border: solid 1px;
                    // border-color: $border-color;
                    // height: fit-content;
                    .resize-button {
                        color: transparent;
                        font-weight: bold;
                        background-color: $bar-background-color;

                    }
                    .resize-button:nth-child(n) {
                        color: black;
                    }
            }
        }
        .project-monitor-container {
            .screen-border-container {
                border: 1px solid;
                border-color: $bar-background-color;
            }
        }
    }
}
